*.iml
/.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.gitignore
*.gradle
*.properties
/gradlew
/gradlew.bat
/.idea/
/kaierutils/release/*
/kaierutils/release/output-metadata.json
