<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.d51x.kaierutils" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <!-- <android:uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SHUTDOWN" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BackgroundService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name=".TWUtilBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="com.tw.service.action.WAKEUP" />
                <action android:name="com.tw.service.action.SLEEP" />
                <action android:name="com.tw.service.action.REQUEST_SHUTDOWN" />
                <action android:name="com.tw.service.action.REVERSE_ACTIVITY_START" />
                <action android:name="com.tw.service.action.REVERSE_ACTIVITY_FINISH" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />
                <action android:name="com.tw.service.action.VOLUME_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SoundSettingsPreferenceActivity"
            android:label="@string/title_settings_activity" >
            <intent-filter>
                <action android:name="android.intent.action.SoundSettings" />

                <category android:name="android.intent.category.PREFERENCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PowerAmpPreferenceActivity"
            android:label="@string/title_activity_power_amp_preference" >
            <intent-filter>
                <action android:name="android.intent.action.PowerAmpSettings" />

                <category android:name="android.intent.category.PREFERENCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
